@import 'reset';
@import 'flex';
@import 'fonts';

h1{
    font-size: 6rem;
    color: #ffff00;
}
/*add styles here*/

body > .wrapper{
    @include flexbox;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider-wrapper{
    @include flexbox;
    height: 15%;
}